body {
    width: 100%;
    text-align: center;
}

.score-board {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 2em;
    margin: 0;
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(255, 255, 255, 1.0);
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    width: 80%; /* Could be more or less, depending on screen size */
    height: 30%;
}

#select-char-header {
  margin: 0;
  padding: 0;
}

.avatar-content {
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
}

.character-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

.character-box img {
  flex: 1;
  width: 80%;
  display: block;
  margin: 0;
  padding: 0;
}

#message-game-over {
  display: none;
}

/* Modal Button */
.button {
  width: 10%;
  padding: 1%;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
  float: right;
}

#button-ok-select-char {
  flex: 0.5;
  margin-top: 3em;
}

/* Turns off the modal box */
.closeModal {
  display: none;
}

/* Sweet alert title style */
.swal-title {
  margin: 0px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: black;
}

/* Sweet alert text style */
.swal-text {
  padding: 10px;
  display: block;
  margin: 10px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
}

.swal-button {
  color: white;
  background-color: rgba(10,110,198,1.0);;
}

.swal-overlay {
  background-color: rgba(10,110,198,1.0);
}
