body {
    width: 100%;
    text-align: center;
}

.score-board {
    font-family: Tahoma, Arial, sans-serif;
    font-size: 2em;
    margin: 0;
}

.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    font-family: Tahoma, Arial, sans-serif;
    font-size: 16px;
    text-align: left;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(255, 255, 255, 1.0);
}

/* Modal Content Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    width: 80%;
    height: 30%;
}

/* Character select modal header */
#select-char-header {
  margin: 0;
  padding: 0;
}

/* Character select modal avatar content */
.avatar-content {
  display: flex;
  flex-direction: row;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
}

/* Character select modal character box */
.character-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
}

/* Character select modal image */
.character-box img {
  flex: 1;
  width: 80%;
  display: block;
  margin: 0;
  padding: 0;
}

/* Modal Button General */
.button {
  width: 10%;
  padding: 1%;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 1em;
  float: right;
}

/* Character select modal OK button */
#button-ok-select-char {
  flex: 0.5;
  margin-top: 3em;
}

/* Turns off the modal box */
.closeModal {
  display: none;
}

/* Sweet alert title style */
.swal-title {
  margin: 0px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
  color: black;
}

/* Sweet alert text style */
.swal-text {
  padding: 10px;
  display: block;
  margin: 10px;
  font-family: Tahoma, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: black;
}

/* Sweet alert button */
.swal-button {
  color: white;
  background-color: rgba(10,110,198,1.0);;
}

/* Sweet alert overlay */
.swal-overlay {
  background-color: rgba(10,110,198,1.0);
}
